.input-holder {
  margin-bottom: 20px;
}

.radiobtn {
  display: none;
}

.radiobtn-label {
  margin-right: 1em;
  cursor: pointer;
  padding: 6px 12px;
  border: lightgrey 1px solid;
  border-radius: 4px;
  &.selected {
    background: lightgrey;
  }
}
