<form #f="ngForm" (ngSubmit)="search()">

  <div>
    <input class="radiobtn" type="radio" name="search-type"  id="rb1"
           [value]="0" [(ngModel)]="type">
    <label for="rb1" class="radiobtn-label" [ngClass]="type == 0 ? 'selected' : ''">Keresés állomásra</label>
    <input class="radiobtn" type="radio" name="search-type" id="rb2"
           [value]="1" [(ngModel)]="type">
    <label for="rb2" class="radiobtn-label" [ngClass]="type == 1 ? 'selected' : ''">Keresés útvonalra</label>
  </div>

  <div class="all-input">
  <div class="input-holder">
    <div class="row">
      <label class="col col-md-2">{{type == 0 ? 'Állomás' : 'Honnan'}}</label>
      <select class="col col-md-9" [(ngModel)]="station1" name="station1" type="number" required>
        <option *ngFor="let stationInfo of stationInfos" [ngValue]="stationInfo">{{stationInfo.station.name}}</option>
      </select>
    </div>

    <div *ngIf="type == 1" class="row">
      <label class="col col-md-2">Hová</label>
      <select class="col col-md-9" [(ngModel)]="station2" name="station2" type="number" required>
        <option *ngFor="let station of station1.accessibleStations" [ngValue]="station">{{station.name}}</option>
      </select>
    </div>
  </div>

  <div class="input-holder row">
    <div class="col col-md-6">
      <div class="btn" [ngClass]="needDate ? 'btn-danger' : 'btn-success'" (click)="showDateBlock(!needDate)">
        {{needDate ? "-" : "+"}} Időtartomány megadása
      </div>
    </div>
  </div>

  <div *ngIf="needDate" class="row">
    <label class="col col-md-6">Mettől</label>
    <label class="col col-md-6">Meddig</label>
  </div>
  <div *ngIf="needDate" class="row input-holder">
    <ngb-datepicker #d1 name="fromDate" class="col col-md-6" [(ngModel)]="fromDate"></ngb-datepicker>
    <ngb-datepicker #d2 name="toDate" class="col col-md-6" [(ngModel)]="toDate"></ngb-datepicker>
  </div>

  <button class="btn btn-info" [disabled]="!isValid">Keresés</button>
  </div>
</form>
